<div class="dashboard-content " >
  <div id="content">
    <div class="stats-card mat-elevation-z4 "  fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <mat-card fxFlex="20"  style="display: inline-block">
        <mat-card-header>
          <h4>TOTAL SALES</h4>
        </mat-card-header>
        <mat-card-content>
          <span style="font-size: 3em;">123,456</span>
          <button class="circle" style="background-color: green">&nbsp;&nbsp;
            <mat-icon>trending_up</mat-icon>
          </button>
          <p style="align-content: space-between"><span style="color: green">+3.48%</span> &nbsp;&nbsp; Since last month
          </p>
        </mat-card-content>

      </mat-card>
      <mat-card fxFlex="20">
        <mat-card-header>
          <h4>NEW USERS</h4>
        </mat-card-header>
        <mat-card-content>
          <span style="font-size: 3em;">2,345</span>
          <button class="circle" style="background-color: #F53C56"> &nbsp;&nbsp;<mat-icon>trending_down</mat-icon>
          </button>
          <p style="align-content: space-between"><span style="color: red">-3.48%</span> &nbsp;&nbsp; Since last month
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="20">
        <mat-card-header>
          <h4>TODAYS SALES</h4>
        </mat-card-header>
        <mat-card-content>
          <span style="font-size: 3em;">924</span>
          <button class="circle" style="background-color: #7764E4">&nbsp;&nbsp;
            <mat-icon>attach_money</mat-icon>
          </button>
          <p style="align-content: space-between"><span style="color: green">-3.48%</span> &nbsp;&nbsp; Since last month
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="20">
        <mat-card-header>
          <h4>PROFIT</h4>
        </mat-card-header>
        <mat-card-content>
          <span style="font-size: 3em;">48.65%</span>
          <button class="circle" style="background-color: #11CDEF">&nbsp;&nbsp;
            <mat-icon>equalizer</mat-icon>
          </button>
          <p style="align-content: space-between"><span style="color: green">+3.48%</span> &nbsp;&nbsp; Since last month
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <br>
    <!--our products-->
    <app-products></app-products>

  </div>
</div>



