<mat-nav-list  >
  <div class="profile-card">
    <div class="header">
      <h2>E-commerce</h2>
    </div>

  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/dashboard"  routerLinkActive="list-item-active">
    <mat-icon >home</mat-icon>
    Home
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item  routerLink="/products" routerLinkActive="list-item-active">
    <mat-icon>layers</mat-icon>
    Products
  </a>
  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/category" routerLinkActive="list-item-active">
    <mat-icon>description</mat-icon>
    Category
  </a>

</mat-nav-list>


